/*
.contentLeft p{
    line-height: 1.6!important;
    font-size: 16px!important;
}

.centerWrpa div:first-child{
    #display: none!important;
}*/

.telegraph-index-content{
    font-size:14px!important;
    line-height: 1.5!important;
}
