#products,#headerAdContent,#left_dl_div{
    display: none;
}

#mybg{
    position: fixed!important;
    height: auto!important;
    bottom: 0%!important;
    right: 0%!important;
}

.grid li.active img{
    height:auto!important;
}
