/*.stock-info-bkj{
    width:84%!important;
}

.stock-info-bkj .swiper-wrapper{
    display: inline-block!important;
}
.stock-info-bkj .swiper-slide{
    width: auto!important;
}*/
.xgb-tools {
    display: none!important;
}

#nuxt-layout-container{
    overflow: visible!important;
}
