/*#in_channelhead, .new_detail.fl, .self_select.fr.zxg_1 {
    display: none;
}

#in_squote {
    height: 0;
    overflow: hidden;
}

.m_header {
    height: 0;
    overflow: hidden;
}

.m_box .bd {
    padding-top: 5px!important;
    display:none;
}

.m_logo {
    position: fixed;
    top: 117px;
    left: 124px;
    height: 86px !important;
    overflow: hidden;
}*/

.wrapper.J{
    margin:0 0 0 auto!important;
}
.wrapper *{
    font-size:15px!important;
}
iframe{
    position:fixed;
    top:0;
    left:0;
    width:960px;
    height:100%;
    overflow: hidden;
    border:none;
}
iframe:hover{
    z-index: 1000;
}
.header{
    padding-bottom: 0!important;
}
.iwc_searchbar, .search_z{
    display:none!important;
}
.m_box .bd{
    padding-top:5px!important;
}
.content{
    margin-top:120px!important;
}

.check_else{
    display: block!important;
}

#detail[stat="compnay_detail"]{
    font-size:16px!important;
}

#concept .scrollbar-macosx{
    display: block!important;
}

#profile table td a.alltext {

}

/* 同花顺概念题材页面 隐藏内容 全部展开 */
.comPoint.none{
    display:block!important;
}
