#crx_jhandy_on_select {
  display: none;
  position: absolute;
  z-index: 10001;
  top: 200px;
  left: 300px;
  padding: 2px 3px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

#crx_jhandy_on_select button {
  display: inline-block;
  margin: 5px 5px;
  padding: 2px 3px;
  cursor: pointer;
  border: none;
  color: #040404;
  background: white;
  font: 14px/1.4 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
