html, body {
  min-width: 500px;
}

#stock_pages > div:first-child button[ic-click="up"] {
  display: none;
}

[ic-ctrl] {
  padding: 10px;
  margin: 0 auto 10px auto;
}

.hide {
  display: none !important;
}


